doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
  body
    p 你好你好，我是测试
    block content
    footer.footer 我是网页footer
