<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/login.css">
</head>
<body>
    <section class="col-md-4 loginSection">
    <div class="panel panel-default">
        <div class="panel-heading">用户登录</div>
            <div class="panel-body">
                <div class="control-group">
                    <label class="control-label" for="username">用户名</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="username" name="username">
                        <p class="help-block">你的账户名称，用户登录和提示</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">密码</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="password" name="password">
                    </div>
                </div>
                <br />
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>